<div class="d-flex justify-content-between">
  <div>
    <span class="total">Total: </span>{{pagination.total}}
  </div>
  <div class="pagination justify-content-end" *ngIf="lenthRecords > 0">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"  [ngClass]="{'disabled': pagination.page === 1}" (click)="previous()">
            <button  class="page-link">
                <span aria-hidden="true">&laquo; Anterior</span>
            </button>
          </li>
          <li class="page-item" [ngClass]="{'disabled': pagination.page === pagination.totalPages}" (click)="next()">
            <button class="page-link">
                <span aria-hidden="true">Siguiente &raquo;</span>
            </button>
          </li>
        </ul>
      </nav>
</div>
</div>
