<app-header></app-header>
<div class="container mt-5">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div>
                <button mat-raised-button color="primary" (click)="openTask()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-plus" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <rect x="4" y="4" width="16" height="16" rx="2" />
                        <line x1="9" y1="12" x2="15" y2="12" />
                        <line x1="12" y1="9" x2="12" y2="15" />
                      </svg>
                      Agregar
                </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th>Tarea</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th class="d-flex justify-content-around">
                        Acciones
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks">
                    <td>{{task.name}}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.done ? 'Completada' : 'Pendiente'}}</td>
                    <td class="d-flex justify-content-center gap-2">
                        <button (click)="openTask(task)" *ngIf="!task?.done"  mat-raised-button color="warn">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                                <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                                <line x1="16" y1="5" x2="19" y2="8" />
                              </svg>
                        </button>
                        <button  (click)="deleteTask(task)" *ngIf="!task?.done"  mat-raised-button color="accent">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <line x1="4" y1="7" x2="20" y2="7" />
                                <line x1="10" y1="11" x2="10" y2="17" />
                                <line x1="14" y1="11" x2="14" y2="17" />
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                            </svg>
                        </button>
                        <button [disabled]="task?.done" (click)="markAsDone(task)" mat-raised-button color="primary">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" 
                              width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" 
                              stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M5 12l5 5l10 -10" />
                            </svg>
                        </button>
                     
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--div class="pagination justify-content-end" *ngIf="tasks.length > 0">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item" [ngClass]="{'disabled': pagination.page === 1}">
                        <a class="page-link" aria-label="Previous" (click)="previous()">
                          <span aria-hidden="true">&laquo; Anterior</span>
                        </a>
                      </li>
                      <li class="page-item" [ngClass]="{'disabled': pagination.page === pagination.totalPages}">
                        <a class="page-link"  aria-label="Next" (click)="next()">
                          <span aria-hidden="true">Siguiente &raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
              </div-->
              <app-pagination 
                [lenthRecords]="tasks.length" 
                [pagination]="pagination" 
                (pageChanged)="onPaginateChange($event)">
              </app-pagination>
        </div>
    </div>
</div>